/* 头部 */
#cart-c{
  width: 100%;
  height: 80px;
border-bottom: 2px solid #F10180;
}
.cart-b{
  width: 1174px;
  height: 80px;
  margin: 0 auto;
}
.m-logo{
  float: left;
  height: 48px;
  padding: 16px  0 12px;
}
.m-inline-block{
  float: right;
  padding: 10px 5px 0 0 ;
  height: 18px;
  color: gray;
}
.inline-block-item{
  display: inline-block;
  vertical-align: top;
  word-spacing: normal;
  letter-spacing: normal;
  font-size: 12px;
}
.m-site-nav .member-actions{
  line-height: 26px;
}
.m-site-nav .member-actions .member-actions-link{
margin-left:15px ;
}
.u-split-line{
  display: inline-block;
  width: 1px;
  margin-top: 6px;
  height: 12px;
  overflow: hidden;
  background-color: #b3b3b3;
  vertical-align: middle;
}
.m-site-nav .dropdown-text, .m-site-nav .member-actions, .m-site-nav .online-service, .m-site-nav .tel {
  line-height: 26px;
}
.m-site-nav .servers-links {
  position: relative;
  z-index: 2;
  width: 95px;
}
.servers-dropdown-hd {
  position: relative;
  padding-right: 24px;
  height: 16px;
  line-height: 26px;
  cursor: pointer;
  border: 1px solid #fff;
  z-index: 1;
}
.services-dropdown-hd-title{
  white-space: nowrap;
  line-height: 26px;
  font-size: 12px;
}
.m-site-nav .servers-links .if-member {
  vertical-align: top;
}
.servers-dropdown-hd .if-arrow-down{
  position: absolute;
  top:2px;
  right: 7px;
  z-index: 1;
}
.c-helper-small{
  bottom: 14px;
  height: 20px;
  right: 30px;
}
.helper-small-item{
  margin-right: 25px;
white-space: nowrap;
display: inline-block;
margin: 20px 0 0  590px;
}
.helper-small-item>i{
  color: #F10180;
  font-size: 16px;
  font-weight: bold;
}

/* 页身 */
#main-c{
  width: 100%;
  height: 1196px;
  margin-top: 40px;
}
.main-b{
  width: 1174px;
  height: 1196px;
  margin: 0 auto;
}
.cart-tab{
  width: 1174px;
  height: 54px;
  margin-bottom: 30px;
border-bottom: 1px solid #dfdfdf;
}
.cart-tab .cart-tab-item-selected {
  color: #f10180;
  padding-bottom: 12px;
  border-bottom: 3px solid #f10180;
}
.cart-tab-item {
  position: relative;
  bottom: -4px;
  display: inline-block;
  font-size: 16px;
  color: #333;
  padding: 15px 10px;
  margin-right: 10px;
}
.m-linner-block{
  height: 48px;
  line-height: 48px;
  width: 1174px;
  margin-bottom: 30px;
}
.area-delivery-info{
  display: inline-block;
  font-size: 18px;
  max-width: 460px;
  height: 48px;
  line-height: 48px;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
.area-delivery-info>em{
  font-size:20px ;
  font-weight: 600;
  height: 8px;
  line-height: 8px;
}
.inline-block-item{
  display: inline-block;
  height: 18px;
  line-height: 18px;
}
 .channel-tips-cnt:before {
  content: ' ';
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 1px;
  background: #c4c4c4;
}
.shopping-tips-text {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  margin-right: 12px;
  color: #666;
  font: 14px/20px 'Microsoft Yahei';
}
.icolor{
  vertical-align: middle;
  margin-left: -4px;
  color: skyblue;
}
.J_accountBar_position_container{
  width: 1174px;
  height: 500px;
}
.m-orders{
  height: 256px;
  width: 1174px;
  margin-bottom: 40px;
  background: #fff;
}
.orders-hd{
  width: 1174px;
  height: 40px;
  background-color: #f9f9f9;
}
.orders-hd ul{
  height: 40px;
  line-height: 40px;
  border: 1px solid #e0e0e0;
}
.min-inline-block{
  width: 1174px;
  height: 40px;
display: flex;
justify-content: space-evenly;
}
.orders-vip{
  width: 1174px;
  height: 216px;

}
.u-checkbox{
  margin:0 6px 0 4px;
  display: inline-block;
line-height: 24px;
}
.product-item-title{
  width: 1174px;
  height: 24px;
  line-height: 24px;
  padding: 20px 15px 16px 15px;
display: flex;
justify-content: left;
font-size: 20px;
color: #f10180;
}
.orders-bd{
  width: 117px;
  height: 113px;
  border: 1px solid #e0e0e0;
}